<aside class="logo">

	{% if page.url == '/index.html' or page.url == '/' %}
		{% assign link = '/about' %}
		{% assign prompt = 'Hakkımda' %}
	{% else %}
		{% assign link = '/' %}
		{% assign prompt = 'Index dön' %}
	{% endif %}

	<a href="{{ link | prepend: site.baseurl | prepend: site.url }}">
		<img src="{{ site.logo_url }}" class="logo-avatar">
	</a>
	<span class="logo-prompt code">{{ prompt }}</span>
	<p><strong>Öğrendiklerimi kalıcı hale getirmek için kısa kısa notlar.</strong></p>
	<p>Eğer basit bir şekilde anlatamıyorsan, o konuyu anlamamışsın demektir. <b>Albert Einstein</b></p>
</aside>
